.hero {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../assets/hotell.png) no-repeat center center/cover;

  min-height: 100vh;

  height: 100vh;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #fff;
  filter: brightness(1);
  padding: 100px;
  margin-left: 100px;
  margin-bottom: 80px;
}

.hero-big-text {
  display: flex;
  flex-direction: column;
  font-size: 68px;
  line-height: 1.1;
  font-weight: bold;

  span {
    color: #dd9804;
  }
}

.hero-small-text {
  font-weight: 400;
  max-width: 620px;
  font-family: "inter", sans-serif;
  font-size: 20px;
}

.hero-button-container {
  display: flex;
  gap: 20px;
  button {
    font-family: "inter", sans-serif;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
}

.booking-link {
  background: #dd9804;
}
.section-header {
  padding: 100px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  h1 {
    font-size: 42px;
  }
  h3 {
    width: 700px;
    text-align: center;
    color: #2a2a2aa0;
  }
}
